body {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aclonica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aclonica', sans-serif;
}

p {
  color: blue;
}

#home {
  background-color: #ff8264;
  color: #fff;
  text-align: left;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#home .container-fluid {
  padding: 3% 15% 7%;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

/* Sections */
.colored-section {
  background-color: #ff8264;
  color: black;
  background-image: linear-gradient(#08d9d6, #6639a6);
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 30px;
  color: yellow;
}

/* Title Image */
.title-image {
  width: 95%;
  position: relative;
  left: 50%;
}

.navbar {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #6639a6;
}

.navbar-brand {
  font-family: 'Aclonica', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-dark .navbar-brand {
  color: #32e0c4;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Aclonica', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: #eeeeee;
}

.first {
  margin-top: 70px;
}

.feature-title {
  font-size: 2.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #fa7d09;
  margin-bottom: 15px;
}

.icon:hover {
  color: yellow;
}

.white-section {
  background-image: linear-gradient(#fdfdfd, #52616b);
  color: #6a2c70;
}

.btn {
  margin-left: 40px;
}

.gallerytext {
  font-size: 3rem;
  margin-bottom: 20px;
}

.container-fluid {
  margin: 0 auto 0 auto;
}

.title-image {
  width: 95%;
  position: relative;
  left: 28%;
}

.social {
  color: #fa7d09;
  margin: 10px;
}

.social:hover {
  color: #b8de6f;
}

@media (max-width: 1028px) {
  #home {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}
